*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: inline-flex;
    justify-content: left;
    width: 1900px;
}

.wrapper a{
    text-decoration: none;
    width: 220px;
    height: 70px;
    font-size: 22px;
    border: 1px solid #ff0000;
    text-align: center;
    margin: 10px;
    color: black;
    line-height: 70px;
    position:relative;
}

.wrapper a span{
    position: absolute;
    background-color: #ff0000;
    z-index: -1;
    transition: 0.8s ease-out;
}

.wrapper a:hover{
    color: white;
    transition: 0.8s;
}

.to-right{
    width: 0px;
    height: 70px;
    left: 0;
    top: 0;
}

.wrapper a:hover .to-right{
    width: 220px;
}

.to-left{
    width: 0px;
    height: 70px;
    right: 0;
    top: 0;
}

.wrapper a:hover .to-left{
    width: 220px;
}

.to-top{
    width: 220px;
    height: 0px;
    right: 0;
    bottom: 0;
}

.wrapper a:hover .to-top{
    height: 70px;
}

.to-bot{
    width: 220px;
    height: 0px;
    right: 0;
    top: 0;
}

.wrapper a:hover .to-bot{
    height: 70px;
}

.to-diag{
    width: 0px;
    height: 0px;
    left: 0;
    top: 0;
}

.wrapper a:hover .to-diag{
    height: 70px;
    width: 220px;
}